<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Magali</title>
    <link rel="icon" type="image/x-icon" href="{{ constant('FAVICON') }}" />
    <link href="{{ constant('CSS') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ constant('JS') }}" defer></script>
</head>
<body>
<main>
    <div id="adminSidebar" class="bg-dark" >
        <div class="py-4 px-3 mb-4 bg-dark">
            <div class="d-flex flex-column align-items-center">
                <img src="{{ constant('FAVICON') }}" alt="..." width="50" class="mr-3 shadow-sm">
                <h4 class="font-weight-light text-muted mb-0">Blog Magali</h4>
            </div>
        </div>

        <p class="adminSidebar__title text-muted px-3 pb-4 mb-0">Administration</p>

        <ul class="nav flex-column bg-dark mb-0">
            <li class="nav-item adminSidebar__item">
                <a href="#" class="nav-link text-dark font-italic">
                    <i class="adminSidebar__item-icon fas fa-newspaper"></i>
                    Mes articles
                </a>
            </li>
            {% if session.user.role in ['ROLE_SUPERADMIN'] %}
            <li class="nav-item adminSidebar__item">
                <a href="#" class="nav-link text-dark font-italic">
                    <i class="adminSidebar__item-icon fas fa-user-group"></i>
                    Utilisateurs
                </a>
            </li>
            {% endif %}
        </ul>

    </div>

    <div id="adminContent">
        <nav id="adminNavbar" class="navbar navbar-expand navbar-light bg-white">
            <!-- Toggle button -->
            <button id="adminSidebarCollapse" type="button" class="btn px-4">
                <i class="burger-menu fas fa-bars-staggered"></i>
            </button>
            <!-- Collapse menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ constant('R_HOMEPAGE') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ constant('R_BLOG') }}">Le Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ constant('R_CONTACT') }}">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span class="p-1 text-capitalize">{{ session.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            {% if session.user is defined %}
                                <a class="nav-link dropdown-item" href="{{ constant('R_LOGOUT') }}">Se déconnecter</a>
                            {% endif %}
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>
   </div>
</main>

<a aria-label="Scroll to the top of the page" href="#" id="scroll-top" class="scroll-top-right">
    <i class=" fa fa-angle-up" aria-hidden="true" role="img"></i>
</a>
</body>
</html>