<div class="modal fade" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="{{ form.action }}" method="POST" class="d-inline-block" >
                <div class="modal-header text-uppercase font-weight-bold">
                    {{ comment.author }} - {{ comment.createdAt | date('d/m/Y') }} : {{ comment.post.title }}
                </div>
                <div class="modal-body text-center text-warning fw-bold p-4">
                    <p class="text-muted">{{ comment.content }}</p>
                    {{ form.message }}
                    <input type="hidden" name="csrfToken" value="{{ form.csrfToken }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-info">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>

