{% extends 'admin/base.twig' %}
{% block body %}
    <div class="px-3 mt-2">
        <h2>Commentaires en attente de validation</h2>
        <div class="alert js-alert alert-danger d-flex align-items-center mb-2 {{ app.error ?: 'd-none' }}" role="alert">{{ app.error ?? '' }}</div>
        <div class="alert js-alert alert-success d-flex align-items-center mb-2 {{ app.success ?: 'd-none' }}" role="alert">{{ app.success ?? '' }}</div>
        <div class="card p-3">
            <table id="comment-table" class="table table-hover" style="width:100%">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Date de création</th>
                    <th>Nom d'utilisateur</th>
                    <th>Commentaire</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td class="text-capitalize">{{ comment.post.title|truncate(30, ' ...') }}</td>
                        <td>
                            {{ comment.createdAt|format_datetime('short', 'none', locale='fr') }}
                        </td>
                        <td>{{ comment.author }}</td>
                        <td>{{ comment.content|truncate(30, ' ...') }}</td>
                        <td>
                            <a href="{{ config['R_ADMIN_POST_SHOW'] ~ comment.post.id }}" class="btn btn-sm btn-show" data-bs-toggle="tooltip" data-placement="top" title="Voir">
                                <i class="table__icon fas fa-eye"></i>
                            </a>
                            <a data-href="{{ config['R_ADMIN_COMMENT_CONFIRM_APPROVE'] ~ comment.id }}" class="btn btn-sm btn-success js-comment-approve" data-bs-toggle="tooltip" data-placement="top" title="Approuver">
                                <i class="table__icon fas fa-check"></i>
                            </a>
                            <a data-href="{{ config['R_ADMIN_COMMENT_CONFIRM_DELETE'] ~ comment.id }}" class="btn btn-sm btn-delete js-comment-delete" data-bs-toggle="tooltip" data-placement="top" title="Supprimer">
                                <i class="table__icon fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="comment-modal"></div>
{% endblock %}
