<div class="modal fade" id="delete_post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="{{ constant('R_ADMIN_POST_DELETE') ~ post.id }}" method="POST" class="d-inline-block" >
                <div class="modal-header text-uppercase font-weight-bold">
                    {{ post.author.username }} - {{ post.createdAt | date('d/m/Y') }} : {{ post.title }}
                </div>
                <div class="modal-body text-center p-4">
                    Etes-vous certain(e) de vouloir supprimer cet article  ?
                    <input type="hidden" name="csrfToken" value="{{ form.csrfToken }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-info">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>

