{% extends 'base.twig' %}

{% block body %}
<section id="login" class="py-5 mt-5">
    <div>
        <div class="login card col-10 col-md-6 col-lg-5 p-5 mt-5 mx-auto justify-content-center">
            <h1 class="login__title text-center mb-4" >Se connecter</h1>
            <div class="alert alert-danger d-flex align-items-center mb-2 {{ form.error ? '' : 'd-none' }}" role="alert">{{ form.error ?: '' }}</div>
            <div class="alert alert-success d-flex align-items-center mb-2 {{ form.success ? '' : 'd-none' }}" role="alert">{{ form.success ?: '' }}</div>
            <form id="loginForm" action="{{ constant('F_LOGIN') }}" method="POST">
                <div class="form-floating">
                    <input type="email" name="email" class="form-control" placeholder="email" value="{{ form.email ?: '' }}" required>
                    <label>Email</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" name="plainPassword" class="form-control" placeholder="mot de passe" required>
                    <label>Mot de passe</label>
                </div>
                <a class="d-flex justify-content-end text-decoration-none text-muted login__forgot-password mt-2" href="{{ constant('R_FORGOT_PASSWORD') }}">Mot de passe oublié ?</a>
<!--                TODO: Remember me-->
<!--                <div class="checkbox mt-3">-->
<!--                    <label>-->
<!--                        <input type="checkbox" value="remember-me"> Se souvenir de moi-->
<!--                    </label>-->
<!--                </div>-->
                <input type="hidden" name="csrfToken" value="{{ form.csrfToken }}">
                <div class="col-lg-12 text-center mt-5">
                    <button class="btn btn-primary-color" name="submit" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}