<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Magali</title>
        <link rel="icon" type="image/x-icon" href="{{ config['FAVICON'] }}" />
        <link href="{{ config['CSS'] }}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ config['JS'] }}" defer></script>
        <base href="/">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav id="clientNavbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
                <div class="container-fluid px-5">
                    <a class="navbar-brand logo" href="{{ config['R_HOMEPAGE'] }}">
                        <span class="text-info">Magali</span>
                        THUAIRE
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{ config['R_HOMEPAGE'] }}">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ config['R_BLOG'] }}">Mon blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ config['R_CONTACT'] }}">Contact</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                {% if session.user is not defined %}
                                    <a class="nav-link dropdown-item" href="{{ config['R_LOGIN'] }}">Se connecter</a>
                                    <a class="nav-link dropdown-item" href="{{ config['R_REGISTER'] }}">S'inscrire</a>
                                {% else %}
                                    {% if session.user.role in roles_admin %}
                                        <a class="nav-link dropdown-item" href="{{ config['R_ADMIN'] }}">Administrer</a>
                                    {% endif %}
                                    <a class="nav-link dropdown-item" href="{{ config['R_LOGOUT'] }}">Se déconnecter</a>
                                {% endif %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </main>

        <a aria-label="Scroll to the top of the page" href="{{ url ~'#' }}" id="scroll-top" class="scroll-top-right">
            <i class=" fa fa-angle-up" aria-hidden="true" role="img"></i>
        </a>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Magali 2022</div></div>
                </div>
            </div>
        </footer>
    </body>
</html>
